.flex {
	display: flex;
}

.flex-direction-row {
	flex-direction: row;
}

.flex-direction-column {
	flex-direction: column;
}

.justify-content-left {
	justify-content: left;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-right {
	justify-content: right;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-center {
	align-items: center;
}

.align-items-end {
	align-items: flex-end;
}