:root {
	--nav-background: #211c5b;
	--nav-text: #fff;
	--nav-text-hover: #a5a5a5;
	--nav-text-size: 20px;
}

.base-nav {
	background-color: var(--nav-background);
	width: 100%;
	height: 80px;
}

.base-nav-content {
	width: 33%;
	height: 100%;
}

.base-nav-content a span, .base-nav-content a img:hover {
	color: var(--nav-text);
	font-size: 1.5rem;
	transition: transform 100ms ease-in-out;
}

.base-nav-content a span:hover, .base-nav-content a img:hover  {
	color: var(--nav-text-hover);
	transform: scale(1.01);
}

